# Ignore Mac system files
.DS_store
# Ignore ipynb checkpoints
.ipynb_checkpoints
.idea
test/__pycache__/
src/undefined/__pycache__/

# ignore the .coverage files
coverage.xml
.coverage

# ignore the coverage html
htmlcov
htmlcov/*.html

# ignore sphinx files
docs/_*
docs/*.rst
docs/conf.py
docs/make.bat
docs/Makefile
